<footer>
  <a href="https://johnywalves.com.br" target="_blank">
    <p>Desenvolvido com <span>♥</span> por <span>Johny W. Alves</span></p>
  </a>
</footer>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-2BC41VFFE7"
></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag("js", new Date())
  gtag("config", "G-2BC41VFFE7")
</script>

<script>
  const today = new Date()
  function diff(first, second) {
    return Math.round((second - first) / (1000 * 60 * 60 * 24))
  }

  document.querySelectorAll(".date").forEach((event, index) => {
    const eventDate = new Date(event.dataset.date)
    const days = diff(today, eventDate)

    if (days < -1 || days > 31) {
      event.style.display = "none"
    }
  })
</script>
