

<div class="group">
  <h2>Próximos Torneios</h2>
  <ul class="events">
    {% for post in events reversed %}
      {% assign week_day = post.date | date: "%u" %}
      {% if week_day == '1' %}
          {% assign week = 'Seg' %}
      {% elsif week_day == '2' %}
          {% assign week = 'Ter' %}
      {% elsif week_day == '3' %}
          {% assign week = 'Qua' %}
      {% elsif week_day == '4' %}
          {% assign week = 'Qui' %}
      {% elsif week_day == '5' %}
          {% assign week = 'Sex' %}
      {% elsif week_day == '6' %}
          {% assign week = 'Sab' %}
      {% elsif week_day == '7' %}
          {% assign week = 'Dom' %}
      {% endif %}

      {% assign category = post.categories | join: '' %}
      {% if category == 'digimon' %}
          {% assign game_name = 'Digimon TCG' %}
      {% elsif category == 'gundam' %}
          {% assign game_name = 'Gundam TCG' %}
      {% endif %}

      {% assign month_day = post.date | date: "%d" %}
      {% if week_day <= week_day_prev and month_day != month_day_prev %}
        <p class="separator">―</p>
      {% endif %}

      {% assign week_day_prev = post.date | date: "%u" %}
      {% assign month_day_prev = post.date | date: "%d" %}

      <li class="event" 
        data-game="{{ category }}"
        data-date="{{ post.date | date: "%Y-%m-%d" }}"
        data-store="{{ store.title }}"
      >
        <a href="/{{ category }}">
          <p><span class="game">{{ game_name }}{% if post.type  %} • {% endif %}</span>{{ post.type }}</p>
        </a>

        <h3>{{ post.date | date: "%d/%m (" }}{{ week }}{{ post.date | date: ") • %H:%M" }}</h3>

        <div class="store">
          {% assign stores_event = site.posts | where: "title", post.store %}
          {% for store in stores_event reversed %}
            <a href="{{ store.url | relative_url }}">
              <p class="store">{{ store.title }}</p>
            </a>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>