{% assign event = page %} {% include event_treated.html %} {% include head.html
%}

<body>
  <img class="background" src="/backgrounds/{{ category }}.webp" alt="" />

  {% include header.html %}

  <main class="home">
    <div class="group">
      <div class="store">
        <h3>
          <span>{{ date_format }}{{ event.date | date: " • %H:%M" }}</span>
        </h3>

        <a href="/{{ category }}">
          <p>{{ game_name }}</p>
        </a>

        {% if event.type %}
        <p>{{ event.type }}</p>
        {% endif %}
      </div>

      <div class="store">
        {% for store in stores_event reversed %}
        <a href="{{ store.url | relative_url }}">
          <h3 class="store">{{ store.title }}</h3>
        </a>

        <p class="description">{{ store.address }}</p>

        <iframe
          src="{{ store.google }}"
          title="Localização {{ page.title }}"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        {% endfor %}
      </div>
    </div>
  </main>

  {% include footer.html %}
</body>
