{% include head.html %}

<style>
  main.home {
    gap: 3rem;
    padding: 3rem 2rem;
  }

  picture.logo {
    width: 250px;
    height: 100px;

    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  a.game {
    display: none;
  }
</style>

{% assign posts = site.posts | where: "categories", page.game %} {% assign
events = posts | where: "layout", "event" %} {% assign stores = posts | where:
"layout", "store" %}

<body>
  <img class="background" src="/images/{{ page.background }}.webp" alt="" />

  {% include header.html %}

  <main class="home">
    <div class="group">
      <picture class="logo">
        <img src="/images/{{ page.logo }}" alt="logo {{ page.title }}" />
      </picture>

      <p class="description">{{ page.description }}</p>
    </div>

    {% include next_events.html %}

    <div class="group">
      <h2>Lojas</h2>
      <ul>
        {% for post in stores reversed %}
        <li>
          <a href="{{ post.url | relative_url }}">
            <h3>{{ post.title }}</h3>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </main>

  {% include footer.html %}
</body>

<script>
  const today = new Date()
  function diff(first, second) {
    return Math.round((second - first) / (1000 * 60 * 60 * 24))
  }

  document.querySelectorAll(".event").forEach((event, index) => {
    const eventDate = new Date(event.dataset.date)
    const days = diff(today, eventDate)

    if (days < -1 || days > 31) {
      event.style.display = "none"
    } else if (days > 15 && index !== 0) {
      event.style.opacity = "0.6"
    }
  })
</script>
