{% include head.html %}

<style>
  main.store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem 1rem 3rem;
  }

  iframe {
    display: block;
    max-width: 600px;
    width: 100%;
    height: 450px;
    border: none;
    margin-top: 2rem;
  }

  div.group {
    margin-top: 2rem;
  }

  div.store {
    display: none;
  }
</style>

{% assign events = site.posts | where: "store", page.title %}

<body>
  {% assign background_image = "double_typhoon.webp" %} {% if page.background %}
  {% assign background_image = page.background %} {% endif %}

  <img class="background" src="/images/{{ background_image }}" alt="" />

  {% include header.html %}

  <main class="store">
    <h1>{{ page.title }}</h1>
    <p>{{ page.address }}</p>
    <iframe
      src="{{ page.google }}"
      title="Localização {{ page.title }}"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    {% include next_events.html %}
  </main>

  {% include footer.html %}
</body>
